<head>

<link href='//fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>
</head>


<div id=title>
  <h1>Team Super Awesome Synthesizer</h1>
</div>


<div class="grid-items">
  <a href="../../members/" class="grid-item">
    <h1>Members</h1>
    <p>Who worked on this project?</p>
  </a>
  <a href="/pages/score_file_format" class="grid-item grid-item-big grid-item-image">
    <h1>Score File Formatting</h1>
    <p>The methods we used to format our score file</p>
  </a>
  <a href="score_file" class="grid-item grid-item-big">
    <h1>The Score File</h1>
    <p>Here you'll find the score file that we used for demonstrating our project</p>
  </a>
  <a href="http://statics.photodom.com/photos/2010/06/11/1881154.jpg" class="grid-item">
    <h1>Thanks for your time</h1>
    <p>Cat tax</p>
  </a>
</div>





