<head>

<link href='//fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>
</head>


<div id=title>
  <h1>Team Super Awesome Synthesizer</h1>
</div>


<div class="grid-items">
  <a href="../../members/" class="grid-item">
    <h1>Members</h1>
    <p>Who worked on this project?</p>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-big grid-item-image">
    <h1>Score File Formatting</h1>
    <p>The methods we used to format our score file</p>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-big">
    <h1>The Score File</h1>
    <p>Here you'll find the score file that we used for demonstrating our project</p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <h1>Components</h1>
    <p>Description of all of the components we made</p>
  </a>
</div>





