<h1>Score File Format</h1>

 
<table class="table-minimal">
  <thead>
    <tr>
      <th>Member</th>
      <th>Format</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sam Metevia</td>
      <td>< note measure="1" beat="1" duration="8" note="PedalD" dynamic ="1.0"/></td>
    </tr>
    <tr>
      <td>Jacob Hersha</td>
      <td></td>
    </tr>
    <tr>
      <td>Joshua Folks</td>
      <td>< note measure="1" beat=Ò1.0Ó note=ÒC1Ó pitch =Ò2Ó /> </td>
    </tr>
    <tr>
      <td>Michael Wright</td>
      <td>< note measure="1" beat="1" duration="2" note="C4" attack="1.0" release="0.05"/></td>
    </tr>
    <tr>
      <td>Joshua Johnson</td>
      <td>< note measure="1" beat="1" duration="1" note="B4" dynamic ="1.0" flangeWet="1.0" flangeDry="0.0"/></td>
    </tr>
  </tbody>
</table>
