<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image">
    </a>
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link"><a href="/pages/home">Home</a></li>
        <li class="nav-link"><a href="/members">Members</a></li>
        <li class="nav-link"><a href="/pages/score_file_format">Score File Format</a></li>
        <li class="nav-link"><a href="/pages/score_file">Score File</a></li>
      </ul>
    </nav>
  </div>
</header>

